code {
    background-color: #888888;
    color: #111111;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu';
}

.remark-slide-content {
    background-color: #1E1E1E;
    
}

.footnote {
    position: absolute;
    bottom: 3em;
    right: 3em;
    color: #888888;
}